<?xml version="1.0"?>

<ruleset name="Pronamic DateTime rules">
	<file>.</file>

	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>

	<rule ref="PronamicWP">
		<exclude name="PHPCompatibility.Interfaces.InternalInterfaces.datetimeinterfaceFound" />

		<exclude name="Squiz.Commenting" />
	</rule>
</ruleset>
